.app-bar-wrapper {
}

.nav-wrapper {
    display: flex;
    justify-content: space-around;
}

.typography {
    flex-grow: 1;
}

.button {
    color: white !important;
}

.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3f51b5;
}

.logo {
    margin-left: 3%;
    color: white;
}

.links {
    display: flex;
    margin-right: 3%;
}
